---
kind: Service
apiVersion: v1
metadata:
  name: node-exporter
  namespace: monitoring
  annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port:   '9100'
spec:
  selector:
      app.kubernetes.io/component: exporter
      app.kubernetes.io/name: node-exporter
      app.kubernetes.io/version: 1.3.1
      app.kubernetes.io/part-of: exporter
  ports:
  - name: node-exporter
    protocol: TCP
    port: 9100
    targetPort: 9100